@charset "utf-8";

/* geral */

:root {
    --corEscura:rgb(70, 70, 70);
    --corDestaqueEscuro: #1e35ff;
    --corDestaque: #1E90FF;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
}

article, footer {
    padding: 4%;
    text-align: center;
}

p {
    font-size: 1em;
    margin-top: 10px;
    line-height: 1.6;
}

li {
    list-style: none;
}

.image {
    max-width: 80%;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.200);
    margin-top: 20px;
}

.section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

/* Titulo */

.title-article, .product-details {
    text-align: left;
}


.header {
    /* Estilos para o cabeçalho */
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.nav-item {
    color: black;
    text-decoration: none;
    padding: 5px 10px;
}

.nav-item:hover,
.nav-item:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.main-content {
    /* Estilos para o conteúdo principal */
}

.title-section {
    /* Estilos para a seção de título */
}

.title-article {
    display: flex;
    flex-direction: column;
}

.title-heading {
    font-size: 6.7vw;
}

.title-paragraph {
   font-size: 1.8em;
}

.title-section-right {
    text-align: right;
}

.title-button {
    font-size: 1.2em;
    background-color: var(--corDestaqueEscuro);
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 150px;
    padding: 10px;
    margin-bottom: 30px;
}

.title-button:hover,
.title-button:focus {
    background-color: var(--corDestaque);
}

/* arrumar daqui pra baixo */

.carousel-post-container {
    display: flex;
    justify-content: right;
    margin: 0;
    box-sizing: border-box;
}

.carousel-post {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    background-color: white;
    cursor: grab;
}

.carousel-post:active {
    cursor: grabbing;
}

.carousel-post-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 300px;
    background-color: white;
} 

.card-post {
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 300px;
    height: 180px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.info {
    position: absolute;
    top: 37.5%;
    left: 0;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: left;
    text-align: left;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    font-size: 1.2em;
}

.show-info {
    opacity: 1;
    background: rgba(255, 255, 255, 0.50);
    color: black;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.carousel-button {
    display: none;
}

.carousel-post-dots {
    text-align: center;
    padding: 1rem 0;
}

.carousel-post-dots .dot {
    height: 7px;
    width: 7px;
    margin: 0px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
}

/* .carousel-post-dots .dot .active {
    
} */

/* Para dispositivos médios (tablets, entre 576px e 767.98px) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .carousel-post {
        max-width: 400px;
    }

    .card-post {
        width: 400px;
        height: 240px;
    }

    .info {
        font-size: 1.1em;
    }

    .carousel-button {
        display: block;
        position: absolute;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.200);
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 2em;
        height: 50px;
        width: 50px;
        margin: 0px 10px;
        transform: translate(0, -100%);
        transition: all .4s;
        }

        .carousel-button:hover
        .carousel-button:focus {
            background-color: white;
            color: black;
        }
        
        .carousel-post .prev {
            left: 0;
        }
    
        .carousel-post .next {
            right: 0;
        }
}

/* Para dispositivos grandes (desktops, entre 768px e 991.98px) */
@media (min-width: 768px) and (max-width: 991.98px) {
    .carousel-post {
        max-width: 500px;
    }

    .card-post {
        width: 500px;
        height: 300px;
    }

    .info {
        font-size: 1.2em;
    }

    .carousel-button {
        display: block;
        position: absolute;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.200);
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 2em;
        height: 50px;
        width: 50px;
        margin: 0px 10px;
        transform: translate(0, -100%);
        }

        .carousel-button:hover
        .carousel-button:focus {
            background-color: white;
            color: black;
        }
        
        .carousel-post .prev {
            left: 0;
        }
    
        .carousel-post .next {
            right: 0;
        }
}

/* Para dispositivos extra grandes (monitores grandes, entre 992px e 1199.98px) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    .carousel-post {
        max-width: 600px;
    }

    .card-post {
        width: 600px;
        height: 360px;
    }

    .info {
        font-size: 1.3em;
    }

    .carousel-button {
        display: block;
        position: absolute;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.200);
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 2em;
        height: 50px;
        width: 50px;
        margin: 0px 10px;
        transform: translate(0, -100%);
        }

        .carousel-button:hover
        .carousel-button:focus {
            background-color: white;
            color: black;
        }
        
        .carousel-post .prev {
            left: 0;
        }
    
        .carousel-post .next {
            right: 0;
        }
}

/* Para dispositivos ultra grandes (monitores muito grandes, 1200px ou mais) */
@media (min-width: 1200px) {
    .carousel-post {
        max-width: 800px;
    }

    .card-post {
        width: 800px;
        height: 480px;
    }

    .info {
        font-size: 1.5em;
    }

    .carousel-button {
        display: block;
        position: absolute;
        top: 50%;
        background-color: rgba(0, 0, 0, 0.200);
        color: white;
        border: none;
        border-radius: 50%;
        font-size: 2em;
        height: 50px;
        width: 50px;
        margin: 0px 10px;
        transform: translate(0, -100%);
        }

        .carousel-button:hover {
            background-color: white;
            color: black;
        }
        
        .carousel-post .prev {
            left: 0;
        }
    
        .carousel-post .next {
            right: 0;
        }
}

/* lista sobre auto desenvolvimento */

.product-img {
    
}

.product-info-section {
    text-align: justify;
    background-image: linear-gradient(0deg, rgba(169, 169, 169, 0.200), rgba(128, 128, 128, 0.200));
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.200);
}

.product-info-article {
    /* Estilos para o artigo de informações do produto */
}

.product-heading {
    font-size: 1.6em;

}

.product-paragraph {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.subheading, .product-list{
    text-align: center;
}

.subheading {
    font-size: 1.5em;
}

.product-list {
    font-size: 1.3em;
}

.product-list-item {
    margin: 10px;
}

.product-price-info {
    /* Estilos para as informações de preço do produto */
}

.product-button {
    font-size: 1em;
    background-color: var(--corDestaqueEscuro);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 10px;
    margin-bottom: 30px;
}

.product-button:hover,
.product-button:focus {
    background-color: var(--corDestaque);
}

.price-heading {
    /* Estilos para o cabeçalho de preço */
}

/* Comprometimentos */

.features-section {
    background-color: var(--corDestaque);
}

.features-article {
    color: white;
}

.features-heading {
    font-size: 2em;
}

.features-list {
    font-size: 1.3em;
}

.features-list-item {
    margin: 15px 0px;
}

.features-list-item:hover,
.features-list-item:focus {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.feature-subheading {
    font-size: 1.4em;
}

.feature-paragraph {
    /* Estilos para os parágrafos de recurso */
}

.features-article mark{
    background-color: white;
    padding: auto 1px;
}

/* CTA com anúncios */

.cta-section {

}

.cta-article {
    background-color: white;
}

.cta-heading {
    /* Estilos para o cabeçalho de call-to-action */
}

.cta-highlight {
    /* Estilos para o destaque de call-to-action */
}

.cta-content {
    /* Estilos para o conteúdo de call-to-action */
}

.cta-button {
    background-color: orange;
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-top: 25px;
}

.cta-button:hover,
.cta-button:focus {
    background-color: darkorange;
}

/* Afiliações */

.afiliacoes {
    display: flex;
}

.afiliacoes-item {
    margin: 50px 10px;
    width: 100px;
}

.footer {
    margin-top: 50px;
    background-color: var(--corEscura);
    color: white;
}

/* rodapé */

.footer {
    margin-top: 50px;
    background-color: var(--corEscura);
    color: white;
}

.footer-article {
    /* Estilos para o artigo de rodapé */
}

.footer-text {
    /* Estilos para o texto de rodapé */
}

.footer-article {
    /* Estilos para o artigo de rodapé */
}

.footer-text {
    /* Estilos para o texto de rodapé */
}

.main-script {
    /* Estilos para o script principal */
}

.main-script {
    /* Estilos para o script principal */
}

.box {
    width: 200px;
    height: 300px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.200);
}
