@charset "utf-8";

/* geral */

:root {
    --corBranco: #FFFFFF;   
    --corPreto: #212121;
     /* para bordas, ícones ou textos menores. */
    --corDestaqueSuaves: #ADD8E6; 
    /* para seções de destaque ou fundos de caixas de informação. */
    --corDestaqueEscuro: #0D47A1;
    /* para garantir legibilidade e impacto. */
    --corDestaqueEscuro2: #3c7ad8;
    /* para garantir legibilidade e impacto. */
    --corElementosdeDestaque: #FFEB3B;
    /* para ícones e elementos que precisam de um toque de energia. */
    --corCTA: #FF9800;
    --corCTA2: #ff6600;
    /* para botões e links importantes. */
    --corSuave: #424242;

    --corSombra: rgba(0, 0, 0, 0.200);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
}

article {
    padding: 1% 4%;
    text-align: center;
}

h1 {
    font-size: 2.3em;
}

h2 {
    font-size: 1.5em;
}

p, 
.list {
    font-size: 1.4em;
    margin: 25px 0px;
    line-height: 1.6;
}

.list {
    font-size: 1em;
}


li {
    list-style: none;
}

section {
    padding-top: 5%;
    padding-bottom: 5%;
}

a {
    text-decoration: none;
}

/* Titulo */

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.nav-item {
    color: var(--corPreta);
    font-weight: lighter;
    text-decoration: none;
    padding: 5px 10px;
    
}

.nav-item:hover,
.nav-item:focus {
    text-decoration: underline;
}

.cta-button {
    background-color: var(--corCTA);
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.cta-button:hover,
.cta-button:focus {
    background-color: var(--corCTA2);
}

/* Afiliações */

.afiliacoes {
    display: flex;
}

.afiliacoes-item {
    border-radius: 5px;
    margin: 25px 10px 0px 10px;
    width: 100px;
}

.amazon {
    border-top: 9px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}

.footer {
    margin-top: 70px;
    margin-bottom: -100%;
    background-color: var(--corSuave);
    color: white;
}

.footer-article {
    text-align: center;
    padding: 100px;
}


.main-script {
    /* Estilos para o script principal */
}

.box {
    width: 200px;
    height: 300px;
    margin: auto;
    margin-top: 15px;
    border-radius: 10px;
    background-color: gray;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.200);
}
