@charset "utf-8";

article {
    padding: 1% 4%;
    text-align: center;
}

h1 {
    font-size: 2.7em;
}

h2 {
    font-size: 2em;
}

p, 
.list {
    font-size: 1.4em;
}

section {
    padding-bottom: 3%;
}

.list {
    font-size: 1em;
    display: flex;
}

.list-item {
    text-align: left;
    margin: 0px 15px;
}

.title-paragraph {
    font-size: 2em;
    margin: -1% 0 -5% 0;
 }

.title-section-right {
    margin-top: -50px;
}

.carousel-button {
    display: block;
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.200);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    transform: translate(0, -50%);
}


.carousel-post .prev {
    left: 0;
}

.carousel-post .next {
    right: 0;
}
 