@charset "utf-8";

article {
    padding: 1% 8%;
    text-align: center;
}

h1 {
    font-size: 6.9vw;
}

h2, 
.features-heading {
    font-size: 3em;
}

p, 
.list {
    font-size: 1.5em;
}

section {
    padding-bottom: 5%;
}

.list {
    font-size: 1em;
    display: flex;
}

.list-item {
    text-align: center;
    margin: 0 15px;
}

.title-paragraph {
    font-size: 3em;
 }

.title-section-right {
    margin-top: -85px;
}

.product-info-section {
    text-align: center;
}

.feature-subheading {
    font-size: 1.9em;
}

.carousel-button {
    display: block;
    position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.200);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    transform: translate(0, -50%);
}


.carousel-post .prev {
    left: 0;
}

.carousel-post .next {
    right: 0;
}