@charset "utf-8";

article,
footer {
    padding: 8%;
    text-align: left;
}

h1 {
    font-size: 3.3em;
}

h2 {
    font-size: 2.3em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-top: 10px;
    line-height: 1.6;
}

.navbar {
    padding: 10px 0px;
}



/* article, footer {
    max-width: 1200px;
    padding: 8%;
}

h2 {
    font-size: 3em;
}

section p {
    font-size: 1.2em;
    line-height: 1.6;
}

.title-article {
    padding-top: 0%;
    text-align: left;
}

.product-details {
    text-align: left;
}


#product-info {
    text-align: justify;
    background-image: linear-gradient(0deg, rgba(169, 169, 169, 0.200), rgba(128, 128, 128, 0.200));
    box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.200);
}

#features {
    background-color: var(--corDestaque);
}

.title-article {
    display: flex;
    flex-direction: column;
}

.title-paragraph {
   font-size: 2em;
}

.title-section-right {
    text-align: right;
}

.title-button {
    font-size: 1.2em;
    background-color: var(--corDestaqueEscuro);
    color: white;
    border: 1px solid black;
    border-radius: 50px;
    width: 150px;
    padding: 10px;
    margin-bottom: 30px;
}

#product-image {
    
}

.image {
    max-width: 80%;
    box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.200);
}

.product-info-article {
    display: flex;
    text-align: left;
}

#product-info-article-section-left {
    margin-right: 30px;
}


.product-heading {
    font-size: 1.6em;

}

.product-paragraph {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.subheading, .product-list{
    text-align: left;
}

.subheading {
    font-size: 1.5em;
}

.product-list {
    font-size: 1.3em;
}

.product-list-item {
    margin: 15px 0px;
}

#product-info-image {
    text-align: right;
    width: 700px;
}

.product-button {
    font-size: 1em;
    background-color: var(--corDestaqueEscuro);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px 10px;
    margin-bottom: 30px;
}

.features-article {
    color: white;
}

.features-heading {
    font-size: 2.3em;
}

.features-list {
    display: flex; 
    font-size: 1.2em;
}

.features-list-item {
    margin: 15px 10px;
}

.feature-subheading {
    font-size: 1.5em;
}

.indicator {
    margin: 0px;
    font-size: 1.2em;
    padding: 30px;
}

.indicator p {
    position: absolute;
    top: 10px;
    left: 0px;
}

.carousel-post {
    max-width: 800px;
}

.card-post {
    width: 800px;
    height: 480px;
}

.info {
    font-size: 1.5em;
}

.carousel-button {
    display: block;
}


.carousel-post {
    max-width: 500px;
}

.card-post {
    width: 500px;
    height: 300px;
}

.info {
    font-size: 1.2em;
}

.carousel-button {
    display: block;
} 
*/
