@charset "utf-8";

/* geral */

:root {
    --corBranco: #FFFFFF;   
    --corPreto: #212121;
     /* para bordas, ícones ou textos menores. */
    --corDestaqueSuaves: #ADD8E6; 
    /* para seções de destaque ou fundos de caixas de informação. */
    --corDestaqueEscuro: #0D47A1;
    /* para garantir legibilidade e impacto. */
    --corDestaqueEscuro2: #3c7ad8;
    /* para garantir legibilidade e impacto. */
    --corElementosdeDestaque: #FFEB3B;
    /* para ícones e elementos que precisam de um toque de energia. */
    --corCTA: #FF9800;
    --corCTA2: #ff6600;
    /* para botões e links importantes. */
    --corSuave: #424242;

    --corSombra: rgba(0, 0, 0, 0.200);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 8.7vw;
}

p, 
.list {
    font-size: 1.3em;
    line-height: 1.4;
}

.list {
    font-size: 1em;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}

.nav-item {
    color: var(--corPreta);
    font-weight: lighter;
    text-decoration: none;
    padding: 5px 10px;
    
}

.nav-item:hover,
.nav-item:focus {
    text-decoration: underline;
}

.title {
    background-color: var(--corBranco);
    color: var(--corPreto);
    text-align: center;
    padding: -10px 0;
}

.products {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 25px;
    background-color: var(--corBranco);
}

.list-of-products {
    overflow: hidden;

}

.product {
    display: flex;
    width: 100%;
    height: 100px;
    padding: 10px;
    background-color: var(--corDestaqueSuaves);
    border-top: 1px solid var(--corSombra);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.200);
    overflow: hidden;
}

.img-product {
    background-color: var(--corSuave);
    min-height: 100px;
    min-width: 100px;
    border-radius: 5px;
    margin-right: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.200);
}

.desc-product {
    color: var(--corPreto);
}

.header-product {
    font-size: 2em;
}

.cta-button {
    background-color: var(--corCTA);
    color: white;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.cta-button:hover,
.cta-button:focus {
    background-color: var(--corCTA2);
}

.footer {
    margin-top: 70px;
    margin-bottom: -100%;
    background-color: var(--corSuave);
    color: white;
}

.footer-article {
    text-align: center;
    padding: 0;

}

.afiliacoes {
    display: flex;
}

.afiliacoes-item {
    border-radius: 5px;
    margin: 25px 10px 0px 10px;
    width: 100px;
}

.amazon {
    border-top: 9px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
}
.main-script {
    /* Estilos para o script principal */
}

/* Carrossel */

.carousel-container {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0;
    box-sizing: border-box;
    padding: 25px 0 25px 0;
    margin: 20px 0px;
}

.carousel {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    background-color: white;
    cursor: grab;
}

.carousel:active {
    cursor: grabbing;
}

.carousel-inner {
    display: flex;
    padding: 5px;
    transition: transform 0.5s ease;

}

.carousel-item {
    min-width: 300px;
    background-color: var(--corBranco);
} 

.card {
    margin: auto;
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 250px;
    height: 300px;
    background-color: var(--corSuave);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    box-shadow: -3px 3px 3px var(--corSombra);
}

.info {
    text-align: center;
}

.carousel-button {
    display: block;
    position: absolute;
    top: 25%;
    background-color: rgba(0, 0, 0, 0.200);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    transform: translate(0, 20%);
    transition: all .4s;
}

.carousel-button:hover {
    background-color: var(--corBranco);
    color: var(--corPreto);
}

.carousel .prev {
    left: 1px;
}

.carousel .next {
    right: -10px;
}

.carousel-dots {
    text-align: center;
    padding: 1rem 0;
}

.carousel-dots .dot {
    height: 7px;
    width: 7px;
    margin: 0px;
    background-color: var(--corSombra);
    border-radius: 50%;
    display: inline-block;
}


