@charset "utf-8";

h2 {
    font-size: 2em;
    padding-bottom: 20px;
    color: var(--corBranco);
}

p {
    font-size: 1.1em;
    margin: 5px 0px;
}

a {
    font-size: 1.2em;
    color: white;
}

a:hover {
    color: var(--corDestaqueSuaves);
}

main {
    background-color: var(--corSuave);
}

.main-section {
    text-align: center;
    padding: 0 3%;
}

.product {
    display: flex;
    flex-direction: column;
    background-color: var(--corBranco);
    padding: 25px 5px 0px 5px;
    border-radius: 8px;
}

.product-img {
    background-color: var(--corSombra);
    height: 400px;
    border-radius: 8px;
}

.product-img, .feature {
    margin: auto;
    min-width: 275px;
    max-width: 400px;
}

.product-features {
    margin-top: 10px;
}

.feature {
    height: 50px;
    background-color: var(--corBranco);
    color: var(--corPreto);
    border: 3px solid var(--corSuave);
    border-radius: 12px;
    margin: 5px auto;
    box-sizing: border-box;
}