.carrosel-post-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.carousel-post {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    background-color: white;
    cursor: grab;
}

.carousel-post:active {
    cursor: grabbing;
}

.carousel-post-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 300px;
    background-color: white;
} 

.card-post {
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 300px;
    height: 180px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* .card-show-info {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
} */

.info {
    position: absolute;
    top: 37.5%;
    left: 0;
    width: 90%;
    height: 100%;
    display: flex;
    align-items: baseline;
    justify-content: left;
    text-align: left;
    opacity: 0;
    transition: opacity .5s ease-in-out;
    font-size: 1.2em;
}

.show-info {
    opacity: 1;
    background: rgba(255, 255, 255, 0.50);
    color: black;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.carousel-button {
    /* display: none; */
    /* position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.200);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    transform: translate(0, -50%); */
}
/* 
.carousel-post .prev {
    left: 0;
}

.carousel-post .next {
    right: 0;
} */


.carousel-post-dots {
    text-align: center;
    padding: 1rem 0;
}

.carousel-post-dots .dot {
    height: 7px;
    width: 7px;
    margin: 0px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}
