.carrosel-post-container {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;
}

.carousel-post {
    position: relative;
    max-width: 300px;
    overflow: hidden;
    background-color: white;
    cursor: grab;
}

.carousel-post:active {
    cursor: grabbing;
}

.carousel-post-inner {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 300px;
    background-color: white;
} 

   .card-post {
    display: block;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    width: 300px;
    height: 290px;
    background-color: white;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.card:hover .info, .card:active .info {
    opacity: 1;
    backdrop-filter: blur(5px);
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.carousel-button {
    /* display: none; */
    /* position: absolute;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.200);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    transform: translate(0, -50%); */
}
/* 
.carousel-post .prev {
    left: 0;
}

.carousel-post .next {
    right: 0;
} */

/*
.carousel-dots {
    text-align: center;
    padding: 1rem 0;
    background: #f4f4f4;
}

.carousel-dots .dot {
    height: 15px;
    width: 15px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.carousel-dots .dot.active {
    background-color: #717171;
}

.box {
    height: 100px;
    width: 100px;
    color: red;
} */
